
      .footer{
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 800px;
        justify-content: center;
        position: relative; 
      }
      .footer h1{
        color:aliceblue;
        font-size: 300px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 0;
      }
      .foot {
        color:white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
        width: 80%; 
        margin-top: 20px; 
      }
      .foot a {
        color: white;
        text-decoration: none;
        padding: 10px;
      }
      .foot h5 {
        color: white;
        margin: 0; 
      }
      .footer hr {
        width: 100%;
        border: none;
        height: 2px; 
        background-color: white;
        position: absolute;
        bottom: 30%; 
        transform: translateY(50%); 
      }
      .hello a {
        color: white;
        padding: 10px;
        text-decoration: none;
        margin-right: 20px;
      }
      /* For mobile devices */
@media only screen and (max-width: 600px) {
  .footer {
    height: auto;
    padding: 20px; 
  }
  .footer h1 {
    font-size: 150px;
  }
  .foot {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .foot a, .foot h5 {
    margin: 5px 0;
    text-align: center;
  }
  .hello {
    margin-top: 20px; 
  }
}

/* For desktop devices */
@media only screen and (min-width: 601px) {
  .footer {
    height: 800px;
  }
  .footer h1 {
    font-size: 300px;
  }
  .foot {
    width: 80%;
    margin-top: 20px;
  }
  .foot a, .foot h5 {
    margin: 0;
    text-align: left;
  }
}
